*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Headerstyle1{
        width: 200px;
        padding-left: 60px;
        font-weight: bold;
        color: dodgerblue;
}
.Headerstyle2{
    width: 100px;
    margin:20px 5px 0 0;
    font-size: 20px;
    font-weight: bold;
    color: dodgerblue;
}
.el-dropdown{
    color: dodgerblue;
}
